body {
  background-color: rgba(58, 56, 61, 0.856);
}
h1 {
  color: blue;
}
p {
  color: rgb(0, 0, 0);
}
.boxed-header {
  display: flex;              /* Puts items side by side */
  justify-content: center;    /* Centers them horizontally */
  align-items: center;        /* Aligns them vertically */
  gap: 200px;                  /* Space between words */
  border: 2px solid rgb(233, 136, 9);
  background-color: rgb(255, 106, 0);
  padding: 20px;
}
.container {
  display: flex;       /* Makes items go side by side */
  border: 2px solid black;
  width: 1853px;
  height: 700px;
}

.box1 {
  flex: 1;             /* Makes both boxes equal width */
  border: 1px solid rgb(85, 70, 70);
  padding: 20px;
  text-align: center;
  font-size: 50px;
}
.logo {
  height: 150px;
  width: 140px;
  align-content: center;
}
.box {
  flex: 1;             /* Makes both boxes equal width */
  border: 1px solid rgb(85, 70, 70);
  padding: 20px;
  text-align: center;
}